html
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  *,
  *::after
  *::before {
      margin: inherit;
      -webkit-box-sizing: inherit;
      box-sizing: inherit;
      font-size: inherit;
    }